{
  "NAME_DEVICE": "Device_1",
  "DHT22_PIN": 14,
  "GMT": 2,
  "SYNC_SEND_DATA": false,
  "INTERVAL_SEND_DATA": 10,
  "WIFI_SSID": "",
  "WIFI_PASSWORD": "",
  "TOPIC_TEMP": "",
  "TOPIC_HUM": "",
  "MQTT_IP": "",
  "MQTT_USER": "test",
  "MQTT_PASS": "test",
  "MQTT_KEEPALIVE": 5,
  "LW_TOPIC": "",
  "LW_MSG_ONLINE": { "value": true },
  "LW_MSG_OFFLINE": { "value": false },
  "LW_QOS": 0,
  "LW_RETAIN": true
}
