{
  "NAME_DEVICE": "Device_1",
  "POSITION": "Room 1",
  "DHT22_PIN": ,
  "GMT": 2,
  "SYNC_SEND_DATA": true,
  "INTERVAL_SEND_DATA": 60,
  "WIFI_SSID": "",
  "WIFI_PASSWORD": "",
  "DEV_TOPIC": "",
  "MQTT_IP": "",
  "MQTT_USER": "",
  "MQTT_PASS": "",
}
